.footer {
    position: absolute;
    bottom: 0;
    max-height: 120px;
    background-color: $secondary;
    width: 100%;
    @media (max-width: $s) {
        max-height: initial;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: $s) {
            flex-flow: column;
            align-items: center;
        }
    }
    &__block{
        padding: 20px 0;
        &:nth-of-type(even) {
            text-transform: uppercase;
        }
        p {
            a {
                color: inherit;
                text-decoration: none;;
            }
            margin: 10px 0;
            &:first-of-type {
                color: $primary;
    
            }
            &:last-of-type {
                color: $white
    
            }
            @media (max-width: $s) {
                text-align: center;
            }
        }
       
    }
}
