.select2 {
    &.select2-container{
        max-width: 400px;
        min-width: 280px;
        width: 100%!important;
        height: 50px;
        overflow: hidden;
        &--default {
            .select2-selection {
                border: none;
                background-color: $input-color;
                width: 100%;
                // padding: 12px 0;
                border-radius: 0;
                &--multiple {
                    border: none;
                }
                
                &__placeholder{
                    font-size: 14px;
                    font-weight: 500;
                    padding: 10px;
                    color: $placeholder;
                }
                &__arrow {
                    display: none;
                }
            }
           

        }
   
        &--open {
           .select2-dropdown{
               &--below {
                margin-top: 10px;
               }
           } 
        }
        @media (max-width: $xs){
            min-width: 400px
        }
        @media (max-width: $xxs){
            min-width: 300px
        }
        
    } 
     
}
.select2-container{

    &--open {
       .select2-dropdown{
           border: none;
           &--below {
            margin-top: 5px
           }
       } 
    }
    &--default {
        .select2-results{
            padding-top: 2px;
            padding-right: 2px;
            background-color: $primary;
            height: 35px;
            &__option {
                color: $primary-semi-light;
                &:nth-of-type(even){
                    background-color: $white;

                }
                &:nth-of-type(odd){
                    background-color:$primary-light;
                    
                }
                &--highlighted {
                    color: $white;
                    background-color: $primary!important;
                }
            }
        }
        .select2-selection {
            &--multiple {
                border: none;
                ul.select2-selection__rendered{
                    height: 100%;
                    padding: 0;
                    
                }
                
                li.select2-selection__choice {
                    width: 100%;
                    float: none;
                    border: none;
                    border-radius: 0;
                    background-color: $input-color; 
                    position: absolute;
                    font-weight: 700;
                    color: $primary-semi-light;
                    padding: 10px 12px;
                    
                    .select2-selection__choice__remove{
                        
                        // display: block;
                        background-color: transparent;
                        margin: 0;
                        padding: 0 5px;
                    }
               } 
            }
        }
        
        &.select2-container--focus {
            .select2-selection--multiple {
                border: none!important;
                height: 50px;
            }
        }
        .select2-search--inline {
            .select2-search__field[type=search] {
                // margin: 0 10px;
                padding: 12px 10px;
                //

            }
        }
    }
    
}