$primary: rgba(108, 99, 255, 1);
$primary-transparent: rgba(108, 99, 255, 0.5);
$primary-semi-light: #9892ff;
$primary-light:  #f0efff;
$secondary: #3e3c61;
$white: #FFFFFF;
$font-color: #343348;
$input-color: #f0efff;
$placeholder: #757575;
//media queries
$l: 1280px;
$m: 1024px;
$s: 768px;
$xs: 580px;
$xxs:480px;
//font
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap')
